:root {
    --main-color: #ff5c34;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    width: 100vh;
    margin: 0;
    color: black;
}

.container {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

/* ------------------------------ */
/* ---------- NAVBAR ------------ */
/* ------------------------------ */

nav {
    display: flex;
    width: 100vw;
    align-items: flex-end;
    height: 14vh;
    /* border: 1px solid #000; */
}

.logo-img {
    height: 5vh;
    margin-left: 5vw;
}

.nav-items {
    display: flex;
    align-items: center;
    margin: 5vw;
    margin-bottom: 0;
    height: 5vh;
    width: inherit;
    padding-left: 16vw;
    padding-right: 11vw;
    justify-content: space-between;
}

.nav-items {
    /* border: 1px solid #000; */
    font-size: 1.4em;
    font-family: serif;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.571);
}

.active-item {
    color: tomato;
    font-size: 1.1em;
}

.actions {
    display: flex;
    align-items: center;
    height: 5vh;
}


/* ------------------------------ */
/* -------- INTRO-SECTION ------- */
/* ------------------------------ */

.intro-section {
    display: flex;
    flex-direction: row;
    height: 78vh;
    width: 100vw;
    /* border-bottom: 1px solid coral; */
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 55%;
    height: 100%;
    /* border: 1px solid green; */
}

.left-section>h3 {
    display: flex;
    font-family: serif;
    font-weight: 300;
    font-size: 3em;
    margin-top: 6vh;
    align-items: center;
    padding-left: 5vw;
    /* border: 1px solid #000; */
}

.left-section>h3>img {
    height: 5.5vh;
    margin-left: 1.25vw;
}

.left-section>h1 {
    font-size: 3.50em;
    /* font-family: 'Comic Sans MS', cursive, sans-serif; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    /* margin-top: .50vh; */
    padding-left: 5vw;
    letter-spacing: 1px;
    /* border: 1px solid #000; */
}

.sub-headlines {
    padding: 1vh;
    margin-top: 3vh;
    /* border: 1px solid #000; */
}

.sub-headline {
    display: flex;
    align-items: center;
    width: 50%;
    padding: .6em;
    margin-left: 9em;
}

.sub-headline>p {
    font-size: 1.5em;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    margin-left: 1em;
}

.text {
    color: gray;
    padding: 1vh;
    padding-left: 5vw;
    margin-top: 3vh;
    padding-bottom: 10px;
    /* border: 1px solid #000; */
}

.action-btns {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 1em;
    padding-left: 5vw;
    margin-top: 1em;
}

.action-btn {
    font-size: 1.15em;
    height: 7vh;
    width: 11vw;
    color: white;
    /* margin: 1% 0% 0% 5%; */
    border-radius: 50px;
    border: 0;
    background-color: tomato;
    margin-right: 1em;
}

/* ---------------------------------------------------- */

.right-section {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    width: 45vw;
    height: 100%;
    /* border: 1px solid red; */
}

.headphone-div {
    display: flex;
    align-items: flex-end;
    height: 75%;
    /* border: 1px solid #000; */
}

.discount {
    /* display: none; */
    position: absolute;
    height: 20vh;
    /* border: 1px solid #000; */
    -webkit-filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .9));
    filter: drop-shadow(4px 4px 3px rgba(0, 0, 0, .9));
    z-index: 1;
    top: 45vh;
}

.discount-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.50vw;
    color: white;
    z-index: 1;
    top: 50vh;
}

.discount-content > h4 {
    font-size: .75em;
}

.discount-content > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 2.75em;
}

.headphone-img {
    position: absolute;
    height: 60vh;
    margin-left: 3.5vw;
    top: 14vh;
    /* border: 1px solid #000; */
}

.dots {
    display: flex;
    margin-top: 1.5vh;
    padding-left: 12vw;
    height: 5vh;
    /* border: 1px solid #000; */
}

.dot{
    background-color: black;
    height: 3.5vh;
    width: 3.5vh;
    border-radius: 50%;
    margin: 0 1vw;
}

.yellow-dot {
    background-color: rgba(227, 227, 14, 0.703);
}

.tomato-dot {
    background-color: tomato;
}

.black-dot {
    background-color: black;
}

.add-to-cart {
    margin-top: 5%;
    margin-left: 26.25%;
}




